$primaryColor: #ff603c;
$secondaryColor: #fde756;
$defaultColor: #3e3a39;
$defaultColortwo: #050505;
$mainContainer: 1200px;
$commonColor: #fff;
$commonColor2: #fcfcfc;
$additionColorOne: #102631;
$additionColorTwo: #351055;
$additionColorThree: #8e8d8d;


$headingFontuse: 'Ubuntu', sans-serif;
$subheadingFontuse: 'Josefin Sans', sans-serif;
$describeFontuse: 'Bellota Text', cursive;


$mainContainer: 1200px;

$colgrid-10: 10%;
$colgrid-20: 20%;
$colgrid-25: 25%;
$colgrid-30: 30%;
$colgrid-33: 33.33333%;
$colgrid-40: 40%;
$colgrid-50: 50%;
$colgrid-60: 60%;
$colgrid-70: 70%;
$colgrid-80: 80%;
$colgrid-90: 90%;
$colgrid-100: 100%;

$PaddingTop: 123px;
$Paddingbottom: 123px;

$PaddingTop2: 44px;
$Paddingbottom2: 44px;

$default-fontsize: 16px;
$font-big-extra: 110px;
$font-big-ultra: 70px;
$font-big: 42px;
$font-midium: 30px;
$font-small: 20px;